@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	scroll-behavior: smooth;
	user-select: none;
}

html {
	font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	font-size: 10px;
	box-sizing: border-box;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background-color: rgb(54, 54, 54);
	position: fixed;
	bottom: 20px;
	width: 800px;
	height: 50px;
	z-index: 10;
	color: #eee;
	font-size: 20px;
}

a {
	color: rgb(0, 140, 255);
	margin-left: 5px;
}

strong {
	margin-left: 5px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #101113;
}

main {
    transform: scale(0.9);
	transition: 500ms;
	opacity: 0;
}

main.loaded {
	transform: scale(1);
	opacity: 1;
}

.card {
    display: flex;
    background-color: #212226;
    width: 900px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}

.card .main-content {
    padding: 15px;
    position: relative;
    width: 60%;
}

.card .actions {
    display: flex;
	align-items: flex-end;
	justify-content: space-between;
    position: absolute;
    bottom: 15px;
    width: 95%;
}

.card .logo {
    background-image: url("/src/assets/35y6XGj.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 40%;
}

.card h1 {
    color: #fdfdfd;
}

.card p {
	color: #74767a;
	font-size: 16px;
	margin-top: 3px;
	display: flex;
    align-items: center;
}

.card h2 {
    color: #74767a;
}

.card button {
    background-color: #3ba55d;
    width: 110px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #fdfdfd;
    font-weight: bold;
	transition: 200ms;
	animation: float 1.8s ease-in-out infinite;
	overflow: hidden !important;
}

.card button span#effect {
	position: absolute;
	top: 0;
	left: -30%;
	display: block;
	width: 20%;
	height: 100%;
	background: #fff;
	opacity: 0.9;
	transform: skew(10deg);
	transition: 0.5s cubic-bezier(.46,.23,.34,.95);
	animation: slide 1.5s infinite;
	box-shadow: 0 0 25px 5px rgba(255, 255, 255, 1);
	filter: brightness(1.3);
}

@keyframes slide {
	100% {
		left: 110%;
	}
}

.card button:hover {
	filter: brightness(1.3);
	animation: none;
}

.card button:hover span#effect {
	opacity: 0.6;
}

.card button:active {
	transform: translateY(5px);
	animation: none;
}

.card button.disabled {
	cursor: not-allowed;
	animation: none;
}

.card button.disabled:hover {
    filter: brightness(1);
}

.card button.disabled:active {
    transform: translateY(0);
}

.card #months {
	color: #bdbec1;
	margin-left: 1px;
}

.card #infinity {
	font-size: 30px;
	color: #bdbec1;
}

.card #never {
	margin-left: 3px;
}

.app-loader {
    position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
    background-color: #101113;
    transition: 500ms;
}

.app-loader.remove {
    transform: scale(0.9);
	opacity: 0;
	pointer-events: none;
}

.loader {
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader .dot {
	display: block;
	width: 15px;
	height: 15px;
	margin: 5px;
	border-radius: 50%;
	background-color: #eee;
	animation: dots 1.8s ease-in-out infinite;
	-webkit-animation: dots 1.8s ease-in-out infinite;
	animation-delay: calc(250ms * var(--d));
    -webkit-animation-delay: calc(250ms * var(--d));

}

#loader {
	border: 10px solid rgb(27, 27, 27);
	border-top: 10px solid #7289DA;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	animation: loading 1s ease-in-out infinite;
	-moz-animation: loading 1s ease-in-out infinite;
	-o-animation: loading 1s ease-in-out infinite;
	-webkit-animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}

	0% {
		transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
	}
}



@keyframes dots {
	50% {
		transform: scale(1.3);
		-moz-transform: scale(1.3);
		-ms-transform: scale(1.3);
		-o-transform: scale(1.3);
		-webkit-transform: scale(1.3);
	}

	100% {
		transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		-webkit-transform: scale(1);
	}
}

@-webkit-keyframes dots {
	50% {
		transform: scale(1.5);
		-moz-transform: scale(1.5);
		-ms-transform: scale(1.5);
		-o-transform: scale(1.5);
		-webkit-transform: scale(1.5);
	}

	100% {
		transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		-webkit-transform: scale(1);
	}
}

@keyframes float {
	50% {
		transform: translateY(-3px);
		-moz-transform: translateY(-3px);
		-ms-transform: translateY(-3px);
		-o-transform: translateY(-3px);
		-webkit-transform: translateY(-3px);
	}

	100% {
		transform: translateY(0px);
		-moz-transform: translateY(-0px);
		-ms-transform: translateY(-0px);
		-o-transform: translateY(-0px);
		-webkit-transform: translateY(-0px);
	}
}

@-webkit-keyframes float {
	50% {
		transform: translateY(-3px);
		-moz-transform: translateY(-3px);
		-ms-transform: translateY(-3px);
		-o-transform: translateY(-3px);
		-webkit-transform: translateY(-3px);
	}

	100% {
		transform: translateY(0px);
		-moz-transform: translateY(-0px);
		-ms-transform: translateY(-0px);
		-o-transform: translateY(-0px);
		-webkit-transform: translateY(-0px);
	}
}